{% if section.settings.bg_color_start != blank and section.settings.bg_color_end != blank %}
  {% capture bg_style %}background: linear-gradient(225deg, {{ section.settings.bg_color_start }}, {{ section.settings.bg_color_end }});{% endcapture %}
{% elsif section.settings.bg_color_start != blank or section.settings.bg_color_end != blank %}
  {% capture bg_style %}background: {{ section.settings.bg_color_start }}{{ section.settings.bg_color_end }};{% endcapture %}
{% else %}
  {% capture bg_style %}background: #ffffff;{% endcapture %}
{% endif %}
<div class="features-section" style="{{ bg_style }}">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}
    <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
      {%- assign grid_item_width = 'medium-up--one-third' -%}
      {%- assign max_height = 345 -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
        {% when 2 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
        {% when 4 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        <div class="grid__item {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="feature">
            {% if block.settings.image != blank %}
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img id="{{ img_id }}"
                   class="feature-row__image lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ block.settings.image.alt | escape }}">
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="rte-setting">{{ block.settings.text }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": "Features (NEW)",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "bg_color_start",
      "label": "Background Color (Gradient Start)"
    },
    {
      "type": "color",
      "id": "bg_color_end",
      "label": "Background Color (Gradient End)"
    }
  ],
  "blocks": [
    {
      "type": "feature_block",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features (NEW)",
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "feature_block"
        },
        {
          "type": "feature_block"
        },
        {
          "type": "feature_block"
        }
      ]
    }
  ]
}
{% endschema %}
